@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");
@font-face {
  font-family: Dga;
  src: url(DGAgnadeen-Bold.ttf);
}
@font-face {
  font-family: Iran;
  src: url(Iranintl-Medium.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: Dga, Iran;
}
:root {
  --mainColor: rgb(25, 119, 204);
  --whiteColor: white;
  --textColor: #535353;
  --padding: 6%;
  --hoverColor: rgb(0, 68, 131);
  --boxshadow: rgb(216, 216, 216);
  --countsColor: rgb(8, 39, 68);
  --boxborderColor: rgb(205, 232, 255);
  --bgofCounts-offer: rgb(204, 230, 255);
}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  min-height: 200vh;
  width: 100%;
}
/* button to up beginning */
.hand {
  display: none;
}
.hand i {
  font-size: 2.5rem;
  color: var(--mainColor);
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 9999999;
  cursor: pointer;
}
/* button to up end */
/*the scroll animation beginning*/
.hidden {
  transform: scale(0.8);
  filter: blur(7);
  transition: all 0.5s ease-in;
}
.show {
  transform: scale(1);
  filter: blur(0);
  transition: all 0.5s ease-out;
}
/* the scroll animation end */
/* -------------------------the beginning  of the header part ------------------------------------*/
header {
  background-color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem var(--padding);
  box-shadow: 0 0.1rem 0.5rem rgb(216, 216, 216);
}
header .contact {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
}
.contact a {
  font-size: 0.7rem;
  color: var(--textColor);
}
.contact a i {
  color: var(--mainColor);
}
.social {
  display: flex;
  column-gap: 0.6rem;
  font-size: 0.7rem;
}
.social a {
  color: rgb(37, 37, 160);
}
.social a:hover,
.contact a:hover {
  transition: all 0.3s ease;
  color: var(--mainColor);
}
/* the end of the header part */
/* -------------------------the beginning  of the nav part ------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
  height: 3.5rem;
  position: sticky;
  top: 0;
  background-color: var(--whiteColor);
  z-index: 9999;
}
nav .logo img {
  width: 3.85rem;
  height: 3.5rem;
}
nav .nav-list {
  display: flex;
  font-size: 0.6rem;
  align-items: center;
}
nav .nav-list li {
  margin-left: 0.5rem;
}
li.active {
  border-bottom: 0.1rem solid var(--mainColor);
}
nav .nav-list li a {
  display: inline-block;
  padding: 0.25rem 0.05rem;
  color: var(--textColor);
  border-bottom: 0.1rem solid transparent;
  transition: all 0.3s ease;
}
nav .nav-list li:first-child a {
  border-bottom: 0.1rem solid var(--mainColor);
}
nav .nav-list li:not(:first-child):hover a {
  color: var(--mainColor);
  border-bottom: 0.1rem solid var(--mainColor);
}
nav .nav-list button {
  margin-right: 1rem;
  background-color: var(--mainColor);
  padding: 0.55rem 1.1rem;
  border-radius: 2.5rem;
  font-size: 0.6rem;
  font-weight: 100;
  color: var(--whiteColor);
  transition: all 0.4s ease;
}
.nav-list button:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}
dark mode button .dark {
  position: sticky;
  top: 1.3rem;
  z-index: 999999;
}

.image {
  overflow: hidden;
}
.image img {
  position: relative;
  width: 105%;
  margin-top: -5rem;
  /* margin-bottom: 5rem; */
}
.cards {
  /* note that the direct relative element to these cards is the body  */
  bottom: -2.5rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-right: 2rem;
  position: relative;
  bottom: 7rem;
}
.card.first {
  width: 17.5rem;
  height: 14.7rem;
  background-color: var(--mainColor);
  padding: 1.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-right: 1rem;
}
.card.first h3,
p,
button {
  color: var(--whiteColor);
}
.card.first h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.card.first p {
  font-size: 0.7rem;
  line-height: 1.6;
  margin-top: 2rem;
  font-family: Iran;
}
.card.first .button {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.card.first .button a {
  background-color: rgb(71, 146, 214);
  height: 1.95rem;
  width: 6.5rem;
  border-radius: 2.5rem;
  display: inline-block;
  color: var(--whiteColor);
  font-size: 0.8rem;
  line-height: 2.45;
  text-align: center;
  transition: all 0.4s ease;
}
.card.first .button a:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}
.card.first .button a:hover i {
  color: var(--mainColor);
}
.card.first .button a i {
  font-size: 0.7rem;
  color: var(--whiteColor);
}
.card:not(:first-child) {
  width: 11.49rem;
  height: 13.45rem;
  padding: 1.5rem 1.5rem;
  text-align: center;
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--whiteColor);
}
.card:not(:first-child)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  /* background-color: rgb(0, 0, 0); */
  left: 0;
  top: 50%;
  box-shadow: 0.05rem 0.05rem 0.1rem var(--boxshadow),
    -0.05rem 0.05rem 0.1rem var(--boxshadow);
  z-index: -1;
  border-radius: 0.5rem;
}
.card i {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--mainColor);
}
.card h4 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.card:not(:first-child) p {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--textColor);
}
/* the end of the background image part */
/* <!-- the beginning  of the about section   part --> */
.about {
  height: 30rem;
  /* background-color: rebeccapurple; */
  margin-top: -5rem;
  padding: 3rem 1.5rem;
  display: flex;
  column-gap: 2rem;
  background-color: var(--whiteColor);
}
.about img {
  width: 24rem;
  height: 24rem;
}
.about .content {
  padding: 1.5rem 0.5rem;
  display: grid;
  place-content: center;
  row-gap: 1rem;
}
.about .content h3 {
  font-size: 1.4rem;
}
.about .content span {
  font-size: 0.8rem;
  line-height: 1.6;
}
/*the end  of the about section   part  */
/* ----------------------------------
------------------------------------------
-----------------------------------------------the beginning  of the counts section  part ---------------------- */
.counts {
  height: 13rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bgofCounts-offer);
}
.box {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 6.5rem;
  background-color: var(--whiteColor);
  align-items: center;
  position: relative;
  row-gap: 0.5rem;
}
.box i {
  background-color: var(--mainColor);
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--whiteColor);
  position: absolute;
  margin-top: -1.2rem;
}
.box span {
  margin-top: 2rem;
  color: var(--countsColor);
  font-size: 1.8rem;
}
.counts .box p {
  position: absolute;
  margin-top: 4.5rem;
  font-size: 0.7rem;
  color: var(--countsColor);
}
/*the end  of the counts section  part */
/* the beginning  of the services section  part  */
.services {
  height: 47.5rem;
  background-color: var(--whiteColor);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .title,
.works .title,
.contact-info .title {
  width: 100%;
  text-align: center;
  height: 6.6rem;
}
.services .title h2,
.offer h2,
.works h2,
.contact-info h2 {
  padding: 0.5rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.services .title h2::before,
.offer h2::before,
.works h2::before,
.contact-info h2::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 0.15rem;
  background-color: var(--mainColor);
  bottom: 0;
}
.services .title h2::after,
.offer h2::after,
.works h2::after,
.contact-info h2::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.05rem;
  background-color: var(--mainColor);
  bottom: 0.05rem;
}
.services .title p,
.offer p,
.works p,
.contact-info p {
  color: var(--textColor);
}
.services .content {
  display: grid;
  grid-template-column: repeat(3,1fr);
  gap: 1rem;
}
.services .content .box {
  width: 17.8rem;
  height: 16.895rem;
  border: 0.05rem solid var(--boxborderColor);
  padding: 4rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .content .box:hover > .img {
  background-color: var(--whiteColor);
}
.services .content .box:hover {
  background-color: var(--mainColor);
}
.services .content .box:hover a {
  color: var(--whiteColor);
}
.services .box .img {
  width: 3.5rem;
  height: 3rem;
  background-color: var(--mainColor);
  opacity: 0.8;
  border-radius: 0.25rem;
}
.services .box .img img {
  width: 3.5rem;
  height: 3rem;
}
.services .content .box a,
.services .content .box p {
  margin-top: 1rem;
  text-align: center;
  color: var(--textColor);
  font-size: 0.7rem;
}
.services .content .box a {
  color: var(--countsColor);
  font-size: 1rem;
}
/* the end  of the services section  part  */
/* the beginning  of the offer section  part  */
.offer {
  height: 28.5rem;
  background-color: var(--bgofCounts-offer);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* ? the problem is here cause of the flex-wrap : wrap */
  align-items: center;
}
.services p,
.offer p,
.works p,
.contact p {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.offer .form,
.details .form {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.offer .form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select,
.offer .form textarea {
  width: 27.3rem;
  height: 1.9rem;
  border: 0.05rem solid var(--boxborderColor);
  padding: 0.3rem 0.6rem;
}
.offer .form textarea {
  width: 55.8rem;
  resize: none;
  height: 8.4rem;
}
.offer .form input[type="submit"] {
  padding: 0.4rem 2.25rem;
  background-color: var(--mainColor);
  border-radius: 0.8rem;
  color: var(--whiteColor);
  font-size: 0.6rem;
  border: 0.08rem solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.offer .form input[type="submit"]:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
  border: 0.08rem solid var(--mainColor);
}
/* .offer .form input:focus ::placeholder{
  border: .05rem solid var(--mainColor);
  padding: .2rem .5rem ;
  font-size: .5rem;
} */
/* the end  of the offer section  part  */
/* the beginning  of the works section  part  */
.works {
  height: 64.5rem;
  background-color: var(--whiteColor);
  padding: 3rem 0;
}
.works .content {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6rem 0;
  justify-content: center;
  align-items: center;
}
.works .content .card {
  position: relative;
  padding: 0.5rem;
  width: 15.75rem;
  height: 25.95rem;
  transition: all 0.3s;
  overflow: hidden;
}
.works .content .card img {
  width: 95%;
  height: 95%;
  transition: all 0.5s;
  cursor: pointer;
}
.works .content .card:hover img {
  transform: scale(1.1);
}
/* the end  of the works section  part  */
/* the beginning  of the contact section  part  */
.contact-info {
  height: 47rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--whiteColor);
  padding: 3rem 0;
}
.contact-info .iframe {
  width: 100%;
  overflow: hidden;
}
.contact-info .details {
  display: flex;
  flex-wrap: wrap;
}
.details .info {
  width: 19rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem 0;
}
.details .info .location {
  display: flex;
  gap: 0 1rem;
}

.details .message {
  max-width: 36.9rem;
  width: 100%;
}
.details .info i {
  background-color: var(--bgofCounts-offer);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .info p {
  font-size: 0.6rem;
  padding: 0.5rem 0;
  text-align: start;
  width: 100%;
  color: var(--mainColor);
}
/* the form of the details */
.details .message input[type="text"],
.message .form input[type="email"],
.details .form textarea {
  width: 17.7rem;
  height: 1.9rem;
  border: 0.05rem solid var(--boxborderColor);
  padding: 0.3rem 0.6rem;
}
#message-subject {
  width: 36.5rem;
}
.details .form textarea {
  width: 36.7rem;
  resize: none;
  height: 6.7rem;
}

.details .form input[type="submit"] {
  padding: 0.4rem 2.25rem;
  background-color: var(--mainColor);
  border-radius: 0.8rem;
  color: var(--whiteColor);
  font-size: 0.6rem;
  border: 0.08rem solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.details .form input[type="submit"]:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
  border: 0.08rem solid var(--mainColor);
}
/* the end  of the contact section  part  */
/* the beginning  of the footer section  part  */
.footer {
  height: 18.7rem;
  background-color: var(--whiteColor);
  display: flex;
  padding: 1rem 1rem;
  column-gap: 2rem;
  /* flex-wrap: wrap; */
}
.footer .pure-soft {
  max-width: 14.25rem;
  width: 100%;
}
.footer .pure-soft p,
span {
  font-size: 0.7rem;
  color: var(--textColor);
  margin-top: 1rem;
}
.pure-soft p span {
  font-size: 0.8rem;
  color: var(--mainColor);
}
.footer .links {
  max-width: 9.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .links a {
  font-size: 0.7rem;
  color: var(--textColor);
  display: flex;
  text-align: center;
  margin-top: 0.7rem;
}
.footer .links a i {
  color: var(--mainColor);
  font-size: 0.9rem;
}
.footer .footer-services {
  max-width: 14.25rem;
  width: 100%;
}
.footer .footer-services h3 {
  font-size: 1rem;
}
.footer .footer-services a {
  font-size: 0.7rem;
  color: var(--textColor);
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
}
.footer-services a i {
  font-size: 0.9rem;
  color: var(--mainColor);
}
.footer .subscribe {
  max-width: 19rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.footer .subscribe p {
  color: var(--textColor);
  font-size: 0.7rem;
}
.footer .subscribe .subscribe-btn {
  position: relative;
  width: 100%;
  max-width: 17.8rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
}
.footer .subscribe-btn input {
  border-radius: 2.5rem;
  border: 0.1rem solid var(--bgofCounts-offer);
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}
.footer .subscribe-btn a {
  display: inline-block;
  position: absolute;
  padding: 0.55rem 0.7rem;
  background-color: var(--mainColor);
  border-radius: 2.5rem;
  font-size: 0.7rem;
  color: var(--whiteColor);
  left: 0.2rem;
}
/* the end  of the footer section  part  */
/* animation to the placeholder on focus */
input {
  position: relative;
}

input:focus::placeholder {
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 0.02rem solid var(--borderColor);
  color: black;
  border-radius: 1rem;
  padding: 0.1rem 0.2rem;
  transition: all 0.8s;
}
/* the beginning  of the cookie section  part?*/
.cookie {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 2rem;
  row-gap: 1rem;
  background-color: var(--whiteColor);
  position: fixed;
  bottom: -10rem;
  right: 0;
}
.cookie.sCookie {
  bottom: 0;
  transition: all 0.9s ease-in-out;
}
.cookie .logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--mainColor);
}
.cookie p {
  font-size: 1rem;
  color: var(--textColor);
  text-align: center;
}
.cookie .btns {
  display: flex;
  column-gap: 2rem;
}
.cookie .btns button {
  padding: 0.5rem 1.5rem;
  background-color: var(--mainColor);
  font-size: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0.05rem solid transparent;
}
.cookie .btns button:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
  border: 0.05rem solid var(--mainColor);
}

/* the end  of the cookie section  part  */
/* the  beginning of the responsive state  */
@media screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }
  .cards {
    position: relative;
    top: -7rem;
    margin: 0;
  }
  .cards .card {
    width: 25%;
  }
  .card.first {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .card:not(:first-child) {
    padding: 1rem 0.5rem;
  }
  .card.first p {
    margin-top: 0.5rem;
  }
  .card.first .button {
    margin-top: 0.5rem;
  }
  .about {
    height: 15rem;
    margin-top: -5rem;
  }
  .about img {
    width: 15rem;
    height: 15rem;
  }
  .counts {
    margin-top: 5rem;
  }
  .services {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
  }
  .services .content {
    column-gap: 0.5rem;
  }
  .services .content .box {
    width: 48%;
  }
  .offer {
    width: 100%;
    padding: 0;
    margin-top: 12rem;
  }
  .offer .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form select {
    width: 47%;
    font-size: 85%;
  }
  .offer .form textarea {
    width: 98%;
    display: block;
  }
  .offer .form input[type="submit"] {
    font-size: 120%;
  }
  .contact-info {
    margin-top: 33rem;
  }
  .footer {
    column-gap: 0.5rem;
    flex-wrap: wrap;
    height: 33rem;
  }
  .footer .links {
    max-width: 6rem;
  }
  .links {
    order: 4;
  }
  .footer-services {
    max-width: 20rem;
  }
  .footer .pure-soft {
    max-width: 15.25rem;
    width: 100%;
    font-size: 110%;
  }
  .footer .pure-soft p {
    font-size: 0.8rem;
  }
  .footer .footer-services {
    max-width: 19.25rem;
    width: 100%;
  }
  .footer .footer-services a {
    font-size: 1rem;
  }
  .footer .links a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
  .cards {
    bottom: -8.5rem;
    margin: 0;
  }
  .cards .card {
    width: 25%;
  }
  .card.first {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .card:not(:first-child) {
    padding: 1rem 0.5rem;
  }
  .card.first p {
    margin-top: 0.5rem;
  }
  .card.first .button {
    margin-top: 0.5rem;
  }
  .about {
    height: 15rem;
  }
  .about img {
    width: 15rem;
    height: 15rem;
  }
  .counts {
    margin-top: 5rem;
  }
  .services {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
  }
  .services .content {
    column-gap: 0.5rem;
  }
  .services .content .box {
    width: 48%;
  }
  .offer {
    width: 100%;
    padding: 0;
    margin-top: 12rem;
  }
  .offer .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form select {
    width: 47%;
    font-size: 85%;
  }
  .offer .form textarea {
    width: 98%;
    display: block;
  }
  .offer .form input[type="submit"] {
    font-size: 120%;
  }
  .contact-info {
    margin-top: 33rem;
  }
  .footer {
    column-gap: 0.5rem;
    flex-wrap: wrap;
    height: 33rem;
  }
  .footer .links {
    max-width: 6rem;
  }
  .links {
    order: 4;
  }
  .footer-services {
    max-width: 20rem;
  }
  .footer .pure-soft {
    max-width: 15.25rem;
    width: 100%;
    font-size: 110%;
  }
  .footer .pure-soft p {
    font-size: 0.8rem;
  }
  .footer .footer-services {
    max-width: 19.25rem;
    width: 100%;
  }
  .footer .footer-services a {
    font-size: 1rem;
  }
  .footer .links a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 20px;
  }
  .cards {
    position: relative;
    margin: 0;
    bottom: 7rem;
  }
  .cards .card {
    width: 25%;
  }
  .card.first {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .card:not(:first-child) {
    padding: 1rem 0.5rem;
  }
  .card.first p {
    margin-top: 0.5rem;
  }
  .card.first .button {
    margin-top: 0.5rem;
  }
  .about {
    height: 15rem;
    margin-top: -5rem;
  }
  .about img {
    width: 15rem;
    height: 15rem;
  }
  .counts {
    margin-top: 5rem;
  }
  .services {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
  }
  .services .content {
    column-gap: 0.5rem;
  }
  .services .content .box {
    width: 48%;
  }
  .offer {
    width: 100%;
    padding: 0;
    margin-top: 12rem;
  }
  .offer .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form select {
    width: 47%;
    font-size: 85%;
  }
  .offer .form textarea {
    width: 98%;
    display: block;
  }
  .offer .form input[type="submit"] {
    font-size: 120%;
  }
  .contact-info {
    margin-top: 33rem;
  }
  .footer {
    column-gap: 0.5rem;
    flex-wrap: wrap;
    height: 33rem;
  }
  .footer .links {
    max-width: 6rem;
  }
  .links {
    order: 4;
  }
  .footer-services {
    max-width: 20rem;
  }
  .footer .pure-soft {
    max-width: 15.25rem;
    width: 100%;
    font-size: 110%;
  }
  .footer .pure-soft p {
    font-size: 0.8rem;
  }
  .footer .footer-services {
    max-width: 19.25rem;
    width: 100%;
  }
  .footer .footer-services a {
    font-size: 1rem;
  }
  .footer .links a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) and (max-width:1279px)  {
  html {
    font-size: 20px;
  }
  .services {
    padding: 0;
  }
  .cards {
    position: relative;
    bottom: 7rem;
  }
  .cards .card {
    max-width: 33%;
  }
  .card.first {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .card:not(:first-child) {
    padding: 1rem 0.5rem;
  }
  .card.first p {
    margin-top: 0.5rem;
  }
  .card.first .button {
    margin-top: 0.5rem;
  }
  .about {
    height: 15rem;
    margin-top: -5rem;
  }
  .about img {
    width: 15rem;
    height: 15rem;
  }
  .counts {
    margin-top: 5rem;
  }

  .services .content .box {
    width: 32%;
  }
  .offer {
    width: 100%;
    padding: 0;
    margin-top: 12rem;
  }
  .offer .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form select {
    width: 47%;
    font-size: 85%;
  }
  .offer .form textarea {
    width: 98%;
    display: block;
  }
  .offer .form input[type="submit"] {
    font-size: 120%;
  }
  .contact-info {
    margin-top: 33rem;
  }
  .footer {
    column-gap: 0.5rem;
    flex-wrap: wrap;
    height: 33rem;
  }
  .footer .links {
    max-width: 6rem;
  }
  .links {
    order: 4;
  }
  .footer-services {
    max-width: 22%;
  }
  .footer .pure-soft {
    max-width: 15.25rem;
    width: 100%;
    font-size: 110%;
  }
  .footer .pure-soft p {
    font-size: 0.8rem;
  }
  .footer .footer-services {
    max-width: 19.25rem;
    width: 100%;
  }
}


/* the  end of the responsive state 
